<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Summarization</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='index1.css')}}">
</head> 

<body style="background-color:rgb(80, 84, 86);">
    <header style="background-color: rgba(80, 84, 86) ;"
        class="fixed inset-0 w-full flex flex-col justify-center justify-items-center content-center h-20 rounded-b-lg">
        <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/1312209/regular_1708x683_cover-0323-MachineLearning_Dan_Newsletter-b21703f41d807514083e297955e1b46d.png" alt="Logo"
            class="object-contain w-16 self-center md:self-left md:w-30">
        <div class="self-center text-white"><b>Data Summarization</b></div>
    </header>

    <section class="flex flex-wrap mt-20 w-full">
        <div class="w-full md:w-1/2">
            <form class="w-full flex flex-col md:h-screen" action="/index1.html" method="post">
                <textarea style="background-color: rgba(233, 233, 220, 0.873);"class="w-11/12 md:h-3/4 m-2 p-2 border-black rounded-lg border self-center justify-center"
                    name="data" id="data" cols="30" rows="10" placeholder="Enter your Data"
                    required="required"></textarea>
                <div class="flex self-center">
                    <button class="m-1 bg-green-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg"
                        type="submit"  onclick="Check()">Submit</button>
                    <button class="m-1 bg-red-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg"
                        type="reset">Clear</button>
                </div>
            </form>
        </div>
        <div class="w-full md:w-1/2">
            <div class="mt-2 flex flex-col w-full md:h-screen">
                <textarea style="background-color: rgba(233, 233, 220, 0.873) ;"
                    class="w-11/12 border-green-600 rounded-lg p-2 border self-center justify-center md:h-3/4" rows="10"
                    cols="30" name="result" readonly placeholder="Your Summary" id="myInput">{{result}}</textarea>
                <button
                    class="m-2 bg-blue-400 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg self-center"
                    onclick="myFunction()">Copy text</button>
            </div>
        </div>
        <div id="footer" >
            <div id="footer">

                <div id="f1">
                  <img
                    src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png"
                    alt=""
                  />
                </div>
                <div id="f2">
                  <h3>Adarsh Manjunath Naik</h3>
                  <h3>Aryan Singh </h3>
                  <h3>Krishna Agrawal</h3>
                </div>
                <div id="f3">
                  <h3><a href="https://www.linkedin.com/in/adarsh-manjunath-naik-a2004m/">Linkedin</a></h3>
                  <h3><a href="https://github.com/adarsh-naik-2004">GitHub</a></h3>
                  <h3><a href="https://www.codechef.com/users/adarsh_naik">CodeChef</a></h3>
                </div>
                <div id="f4">
                  <h4>
                    Bhabha House <br />
                    IIIT NAYA RAIPUR <br />
                    RAIPUR <br />
                    493661 <br />
                    MOB.: 7477007852 <br />
                  </h4>
                </div>
              </div>
            </div>
    </section>
    <script>
        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("myInput");
            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
    <script>
        function Check() {
            var reg = /<(.|\n)*>/g;
            var dataValue = document.getElementById("data").value;
    
            if (reg.test(dataValue)) {
                alert('Make sure you provide valid data.');
                return false;
            }
            return true;  // Allow form submission
        }
    </script>
    
</body>

</html>